/**
* @author learnercys <learner.cys@gmail.com>
*/
.btn {
    -fx-border-radius: 3px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-padding: 6px 12px;
    -fx-text-alignment: center;
}

.btn:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.125), 10, 0, 0, 0);
}

.btn-default {
    -fx-border-color: #CCCCCC;
    -fx-background-color: #FFFFFF;
}

.btn-default:hover {
    -fx-background-color: #E6E6E6;
    -fx-border-color: #ADADAD;
}

.btn-danger {
    -fx-background-color: #D9534F;
    -fx-border-color: #D43F3A;
}

.btn-danger:hover {
    -fx-background-color: #C9302C;
    -fx-border-color: #AC2925;
}

.btn-primary {
    -fx-background-color: #337AB7;
    -fx-border-color: #2E6DA4;
}

.btn-primary:hover {
    -fx-background-color: #286090;
    -fx-border-color: #204D74;
}

.btn-danger, .btn-primary {
    -fx-text-fill: #FFFFFF;
}
